[submodule "projects/settings"]
	path = projects/settings
	url = https://github.com/zzanghyunmoo/settings.git
[submodule "blogs"]
	path = blogs
	url = https://github.com/zzanghyunmoo/zzanghyunmoo.github.io.git
[submodule "projects/blog-automation"]
	path = projects/blog-automation
	url = https://github.com/zzanghyunmoo/blog-automation.git
[submodule "projects/getting-started-rust"]
	path = projects/getting-started-rust
	url = https://github.com/zzanghyunmoo/getting-started-rust.git
[submodule "oh-my-pi"]
	path = projects/oh-my-pi
	url = https://github.com/zzanghyunmoo/oh-my-pi.git
[submodule "projects/money-pipeline"]
	path = projects/money-pipeline
	url = https://github.com/zzanghyunmoo/money-pipeline.git
